{{ partial "header.html" . }}
{{ $lang := .Site.Language.Lang }}

{{ $nextEvent := (index .Site.Sections.events 0).Page }}
{{ $eventData := $nextEvent.Params.event }}

<section>
  <gomtl-hero class="container">
    <h1>Golang Montréal</h1>

    <p>{{ i18n "mission" }}</p>

    <h4>{{ i18n "next_event" }}: <a href="{{ $nextEvent.Permalink }}" style="font-weight: bold;">{{ $nextEvent.Title }}</a> </h4>
  </gomtl-hero>
</section>

<section hero>
  <div class="next-meetup layout horizontal">
    <div class="align-right flex">
      {{ i18n "next_meetup" }}
    </div>
    <div class="flex next-meetup-pair">
      {{ $nextEvent.Params.event.date }}
    </div>
  </div>
</section>

<google-map longitude="{{ $eventData.longitude }}"
            latitude="{{ $eventData.latitude }}"
            zoom="{{ $eventData.zoom }}"
            language="{{ $lang }}" style="height: 450px;"
            disable-zoom="true">
  <google-map-marker longitude="{{ $eventData.longitude }}" latitude="{{ $eventData.latitude }}"
                     title="{{ $eventData.venue }}" draggable="true">
    <h5>{{ $eventData.venue }}</h5>
    <p>{{ $eventData.address }}</p>

  </google-map-marker>
</google-map>

<section hero>
  <gomtl-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </gomtl-latest-news>
</section>

<section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    {{ partial "sponsor.html" (dict "sponsor" "google" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "edgenda" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "shopify" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "intel-security" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "la-gare" "site" .Site ) }}

    <!-- h4>{{ i18n "partners" }}</h4-->

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
