{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $lang := .Site.Language.Lang }}

<div class="content">

  <div class="article">

    {{ partial "tagzone.html" . }}

    {{ partial "meetup-rsvp.html" . }}

    <h2>{{ .Title }}</h2>

    <div class="description">{{ .Content }}</div>

    <div>
    {{ with .Site.DisqusShortname }}
      {{ partial "disqus.html" . }}
    {{ end }}
    </div>
  </div>

  <!--  partial "video-recording.html" .  -->

  <paper-item>
    {{if .Prev}}
    <a href="{{.Prev.Permalink}}"><paper-fab icon="chevron-left"></paper-fab></a>
    {{else}}
    <paper-fab disabled icon="chevron-left"></paper-fab>
    {{end}}
    <div class="flex"></div>
    {{if .Next}}
    <a href="{{.Next.Permalink}}"><paper-fab icon="chevron-right"></paper-fab></a>
    {{else}}
    <paper-fab disabled icon="chevron-right"></paper-fab>
    {{end}}
  </paper-item>

</div>


{{ partial "footer.html" . }}
