{{ $baseurl := .Site.BaseURL }}
{{ $lang := .Site.RenderLanguage }}

<div class="content">

{{range $index, $page := .Paginator.Pages}}
  <div class="article">

    {{ partial "tagzone.html" . }}

    <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>

    <div class="description">{{ .Summary }}</div>

    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}"><paper-button raised>Read more…</paper-button></a>
    </div>
    {{ end }}

  </div>
{{ end }}

</div>
